<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <mat-form-field class="select-arduino">
        <mat-select [(ngModel)]="selectedDevice" (selectionChange)="onDeviceChange($event)">
            <mat-option value="device1">Arduino 1</mat-option>
            <mat-option value="device2">Arduino 2</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>