<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="temperatur"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperatur</h4>
                        <p class="card-category">
  <span *ngIf="temperatureChangePercentage !== null" class="text-success">
    <i *ngIf="temperatureChangePercentage > 0" class="fa fa-long-arrow-up"></i>  <!-- Wenn Temperatur steigt -->
    <i *ngIf="temperatureChangePercentage < 0" class="fa fa-long-arrow-down"></i>  <!-- Wenn Temperatur fällt -->
      {{ temperatureChangePercentage.toFixed(2) }}%
    <span *ngIf="temperatureChangePercentage > 0">increase</span>  <!-- Zeigt "increase" wenn der Wert steigt -->
    <span *ngIf="temperatureChangePercentage < 0">decrease</span>  <!-- Zeigt "decrease" wenn der Wert fällt -->
    in temperature.
  </span>
                            <span *ngIf="temperatureChangePercentage === null">Waiting for data...</span>
                            <!-- Wenn noch keine Daten da sind -->
                        </p>


                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Shows the current temperature.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
